#guardar{
    width:2rem;
    height:2rem;
}
.row, select{
    margin-bottom: 1rem;
}
h3{
    margin-top: 1rem;
    text-align: center;
}
.container{
    background-color: greenyellow;
    margin-top: 1rem;
}
#enviar{
    background-color:black;
    margin-bottom: 1rem;
}
#prueba{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}
